[submodule "vim/.vim/bundle/vim-fireplace"]
	path = vim/.vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/.vim/bundle/vim-classpath"]
	path = vim/.vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
