[submodule "vim/.vim/bundle/vim-fireplace"]
	path = vim/.vim/pack/plugins/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/.vim/bundle/vim-classpath"]
	path = vim/.vim/pack/plugins/start/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "vim/.vim/bundle/vim-clojure-static"]
	path = vim/.vim/pack/plugins/start/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/pack/plugins/start/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/EvalSelection.vim"]
	path = vim/.vim/pack/plugins/start/EvalSelection.vim
	url = https://github.com/vim-scripts/EvalSelection.vim.git
[submodule "vim/.vim/bundle/colorizer"]
	path = vim/.vim/pack/plugins/start/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/pack/plugins/start/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-indent-guides"]
	path = vim/.vim/pack/plugins/start/vim-indent-guides
    url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim/bundle/vimroom"]
	path = vim/.vim/pack/plugins/start/vimroom
    url = https://github.com/mikewest/vimroom.git
[submodule "gnome-shell/gnome-shell-extensions-pidgin"]
	path = gnome-shell/gnome-shell-extensions-pidgin
	url = https://github.com/kagesenshi/gnome-shell-extensions-pidgin.git
[submodule "vim/.vim/bundle/vim-javascript-syntax"]
	path = vim/.vim/pack/plugins/start/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "vim/.vim/bundle/vim-css3-syntax"]
	path = vim/.vim/pack/plugins/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/pack/plugins/start/vim-coffee-script
	url = git@github.com:dvogel/vim-coffee-script.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/pack/plugins/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-haml"]
	path = vim/.vim/pack/plugins/start/vim-haml
	url = git@github.com:tpope/vim-haml.git
[submodule "vim-rust"]
	path = vim/.vim/pack/plugins/start/vim-rust
	url = https://github.com/wting/rust.vim.git
[submodule "vim-dockerfile"]
	path = vim/.vim/pack/plugins/start/vim-dockerfile
	url = https://github.com/honza/dockerfile.vim.git
[submodule "vim/.vim/bundle/vim-bats"]
	path = vim/.vim/pack/plugins/start/vim-bats
	url = git://github.com/markcornick/vim-bats.git
[submodule "dart-vim-plugin"]
	path = vim/.vim/pack/plugins/start/dart-vim-plugin
	url = git@github.com:dart-lang/dart-vim-plugin.git
[submodule "tsuquyomi"]
	path = vim/.vim/pack/plugins/start/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule "vimproc"]
	path = vim/.vim/pack/plugins/start/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
[submodule "typescript-vim"]
	path = vim/.vim/pack/plugins/start/vim-typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim-elixir"]
	path = vim/.vim/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim-projectroot"]
	path = vim/.vim/pack/plugins/start/vim-projectroot
	url = git://github.com/dbakker/vim-projectroot.git
[submodule "vim-jsx-improve"]
	path = vim/.vim/pack/plugins/start/vim-jsx-improve
	url = https://github.com/neoclide/vim-jsx-improve.git
[submodule "vim-raml"]
	path = vim/.vim/pack/plugins/start/vim-raml
	url = https://github.com/IN3D/vim-raml.git
[submodule "vim-autoformat"]
	path = vim/.vim/pack/plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "vim-csharp"]
	path = vim/.vim/pack/plugins/start/vim-csharp
	url = git://github.com/OrangeT/vim-csharp.git
[submodule "maven-compiler"]
	path = vim/.vim/pack/plugins/start/maven-compiler
	url = https://github.com/JalaiAmitahl/maven-compiler.vim.git
[submodule "vim-ruby-refactoring"]
	path = vim/.vim/pack/plugins/start/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "vim-easy-align"]
	path = vim/.vim/pack/plugins/start/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vim-lsc"]
	path = vim/.vim/pack/plugins/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "kotlin-vim"]
	path = vim/.vim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "syntastic"]
	path = vim/.vim/pack/plugins/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-terraform"]
	path = vim/.vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "omnisharp-vim"]
	path = vim/.vim/pack/plugins/start/omnisharp-vim
	url = git://github.com/OmniSharp/omnisharp-vim
[submodule "rust.vim"]
	path = vim/.vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "rbs"]
	path = vim/.vim/pack/plugins/start/rbs
	url = git@github.com:pocke/rbs.vim.git
[submodule "async.vim"]
	path = vim/.vim/pack/plugins/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim-lsp"]
	path = vim/.vim/pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "asyncomplete.vim"]
	path = vim/.vim/pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "asyncomplete-lsp.vim"]
	path = vim/.vim/pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "tagbar"]
	path = vim/.vim/pack/plugins/start/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "zeavim"]
	path = vim/.vim/pack/plugins/start/zeavim
	url = git@github.com:KabbAmine/zeavim.vim.git
[submodule "ack"]
	path = vim/.vim/pack/plugins/start/ack
	url = git@github.com:mileszs/ack.vim.git
[submodule "ctrlp"]
	path = vim/.vim/pack/plugins/start/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim-ruby"]
	path = vim/.vim/pack/plugins/start/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "vim-rails"]
	path = vim/.vim/pack/plugins/start/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "asyncomplete-buffer"]
	path = vim/.vim/pack/plugins/start/asyncomplete-buffer.vim
	url = git@github.com:prabirshrestha/asyncomplete-buffer.vim.git
[submodule "vim-swift"]
	path = vim/.vim/bundle/swift.vim
	url = https://github.com/keith/swift.vim.git
