[submodule "vim/.vim/bundle/vim-fireplace"]
	path = vim/.vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim/.vim/bundle/vim-classpath"]
	path = vim/.vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "vim/.vim/bundle/vim-clojure-static"]
	path = vim/.vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-rails"]
	path = vim/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/EvalSelection.vim"]
	path = vim/.vim/bundle/EvalSelection.vim
	url = https://github.com/vim-scripts/EvalSelection.vim.git
[submodule "vim/.vim/bundle/colorizer"]
	path = vim/.vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
[submodule "vim/.vim/bundle/neocomplcache.vim"]
	path = vim/.vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-fugitive"]
    path = vim/.vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-indent-guides"]
    path = vim/.vim/bundle/vim-indent-guides
    url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/.vim/bundle/vim-ruby"]
    path = vim/.vim/bundle/vim-ruby
    url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/.vim/bundle/vim-surround"]
    path = vim/.vim/bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/bundle/vimroom"]
    path = vim/.vim/bundle/vimroom
    url = https://github.com/mikewest/vimroom.git
