"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[A": history-search-backward
"^P": history-search-backward
"\e[B": history-search-forward
"^N": history-search-forward
"\C-[[A": history-search-backward
"\C-[[B": history-search-forward
# MacOS, kitty:
#   Cmd-d
"\C-[OA": history-search-backward
"\C-[OB": history-search-forward
"\C-[[100;9u": backward-kill-word
#   Alt-d (not working)
"\M-d": backward-kill-word
"∂": backward-kill-wrd
# MacOS, iTerm2:
"\C-[\C-[[C": forward-word
"\C-[\C-[[D": backward-word
# Linux, libvte:
"\e[5C": forward-word
"\e[5D": backward-word
"\e[1;3C": forward-word
"\e[1;3D": backward-word
set bell-style visible
set history-size -1

