@-moz-document domain(confluenceent.cms.gov), domain(confluence.cms.gov) {
    div.ia-fixed-sidebar {
        font-size: 0.8em;
    }
    .plugin_pagetree .plugin_pagetree_children_list > li {
        margin: 0 !important;
    }

    .plugin_pagetree .plugin_pagetree_children_list > li .plugin_pagetree_children_list {
        padding-left: 10px;
    }

    div.plugin_pagetree ul.plugin_pagetree_children_list > li > div.plugin_pagetree_childtoggle_container {
        width: auto !important;
        min-width: 1.2em;
    }
}

@-moz-document domain(artifactory.cms.gov) {
  html:root {
    --secondary: #000000;
  }

  body {
    color: #000000 !important;
  }

  .ag-theme-alpine .ag-cell-value, .main-routes-wrapper .jf-link, .pagination .showing-text {
    color: #000000 !important;
  }

  .key-value-container .value_[data-v-5cf52d74] {
    color: #000000 !important;
  }
}

